<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'notes:free_content_list' %}">
            LET ME KNOW
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="#">Мой профиль</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Платный контент</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Опубликовать платный контент</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:register' %}">Зарегистрироваться</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Войти</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notes:free_content_create' %}">Опубликовать пост</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>